extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Torre Eiffel" class="img-fluid")
            .col-md-7
                h1=pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor volutpat nibh nec vestibulum. Aenean a laoreet felis. Cras interdum auctor quam non ornare. Proin porttitor quam ut bibendum dignissim. Nunc quis risus id est bibendum maximus.

                p Suspendisse pulvinar efficitur mauris et tristique. Quisque vitae mi nibh. Pellentesque interdum mi elit, a lobortis est finibus non. In id aliquet nulla. Aliquam sollicitudin, velit id vestibulum posuere, neque nisl ornare nunc, nec vulputate enim metus a mi. Cras auctor pellentesque arcu, condimentum scelerisque lorem luctus luctus. In rhoncus velit a iaculis volutpat. 

                p Suspendisse id fringilla orci. Duis hendrerit feugiat nibh, ac vulputate arcu scelerisque sed. Sed in dui ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam malesuada cursus rutrum. Praesent dictum lorem ac sodales ultricies. Nam ornare lacus et sodales fermentum. Nulla varius dui ut tortor gravida egestas. Etiam et justo vel arcu sollicitudin feugiat. Integer maximus eros elementum, malesuada felis vel, lacinia neque. Ut tincidunt nunc metus, quis dignissim mauris efficitur a.
    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Sed in dui ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam malesuada cursus rutrum. Praesent dictum lorem ac sodales ultricies. Nam ornare lacus et sodales fermentum.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos" class="img-fluid mb-4")
                    h2.mb-4 Destinos
                    p Sed in dui ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam malesuada cursus rutrum. Praesent dictum lorem ac sodales ultricies. Nam ornare lacus et sodales fermentum.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios" class="img-fluid mb-4")
                    h2.mb-4 Precios
                    p Sed in dui ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam malesuada cursus rutrum. Praesent dictum lorem ac sodales ultricies. Nam ornare lacus et sodales fermentum.